/* STYLE THE HIGH SCORE PAGE */

#high-score-main {
    align-items: flex-start;
    margin-top: 10%;
    padding-left: 33%;
}

.score-list {
    display: flex;
    flex-direction: column;
    width: 100rem;
}

/* style the highscore list items */
.indv-score {
    width: 50%;
    background-color: #ccccff;
    margin: 0.5rem 0;
    margin-left: 1rem;
    font-size: 3rem;
}

/* style the buttons on highscore screen */
.buttons {
    display: flex;
    align-items: flex-start;
    width: 36%;
    justify-content: space-between;
    margin-left: 1rem;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    
    .buttons {
        width: 50%;
    }
}
/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {

    #high-score-main {
        padding-left: 0%;
        align-items: center;
    }

    .score-list {
        display: flex;
        flex-direction: column;
        ALIGN-ITEMS: center;
        width: 80%;
    }
}

/* MEDIA QUERY FOR MOBLE AND SMALLER */
@media screen and (max-width: 575px) {
    
    
    
}
    
/* MEDIA QUERY FOR MOBLE AND SMALLER */
@media screen and (max-width: 375px) {
    
    .buttons {
        width: 75%;
    }
    
}