* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}
/* align the header properly */
.header-text {
    display: flex;
    justify-content: space-between;
    margin: 1% 2%;
}
/* style the high score link */
.high-score {
    font-size: 5rem;
    color: violet;
}
/* remove any default decorations for all links */
a {
    text-decoration: none;
}
/* stlye the quiz timer */
.timer {
    font-size: 3rem;
    margin-top: .5%;
}

.time-remaining {
    font-size: 3rem;
}
/* style the title, directions and start button */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4%;
}

.title {
    font-weight: bold;
    font-size: 6rem;
}

.directions {
    font-size: 3rem;
    text-align: center;
    margin: 1% 24.5%;
}

.button {
    color: white;
    background-color: #330066;
    font-size: 3rem;
    padding: 1rem 2rem;
    margin-top: 1rem;
    border-radius: 1.5rem;
}

.button:hover {
    background-color: violet;
}
/* style the question that's being displayed */
.question {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 50rem;
    width: 100rem;
}

/* style the user choices */
.questions {
    display: flex;
    flex-direction: column;
}

.button-secondary {
    width: 35%;
    text-align: left;
}